<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Финансы - Мобильная навигационная панель</title>
</head>
<body>
<nav th:fragment="mobile-navbar" class="mobile navbar fixed-bottom navbar-expand bg-dark">
        <ul class="justify-content-around align-content-around nav w-100">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">
                    <img alt="Кнопка 'Домой'" class="img-fluid" th:src="@{/img/home.svg}"/>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/profile}">
                    <img alt="Кнопка профиля" class="img-fluid " th:src="@{/img/profile.svg}"/>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">
                    <img alt="Кнопка выйти" onclick="googleLogout()" class="img-fluid" th:src="@{/img/logout.svg}"/>
                </a>
            </li>
        </ul>
</nav>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
    function googleLogout() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>
</body>
</html>