<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <title>Финансы</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/public/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/public/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/public/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/public/css/style.css}" rel="stylesheet">
</head>

<body>
<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Загрузка...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <nav th:replace="fragments/desktop-navbar.html :: nav"></nav>
    <!-- Navbar End -->

    <div sec:authorize="isAuthenticated()">
        <!-- Search Start -->
        <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
            <div class="container">
                <div class="row g-2">
                    <form th:action="@{/profile/category/rearrange}" method="post">
                        <input type="hidden" name="priorities"/>
                        <div class="col-md-12">
                            <h2>Мои приоритеты</h2>
                            <div class="row">
                                <div class="col-md-8">
                                    <ul id="sortable-list" class="list-group">
                                        <li th:each="category : ${categories}" class="list-group-item py-3"
                                            th:text="${category.name}"
                                            th:data-id="${category.id}"></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <button id="addPriority" type="button" data-bs-toggle="modal" data-bs-target="#default-modal"
                                            class="btn btn-dark w-100 border-0 py-4">Добавить
                                    </button>
                                    <button id="submitPriorities" type="submit"
                                            class="btn btn-dark w-100 border-0 py-4 my-2">Подтвердить
                                    </button>
                                    <button id="resetPriorities" type="button"
                                            class="form-control border-0 py-5">Сбросить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Search End -->

    </div>
    <div th:replace="fragments/default-modal.html :: default-modal(title='Добавить категорию', field='', defValue='Новая категория', onSubmitUrl='profile/category/add')"></div>
    <!-- Footer Start -->
    <footer th:insert="fragments/footer.html :: footer"></footer>

    <nav th:replace="fragments/mobile-navbar.html :: mobile-navbar"></nav>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script src="http://SortableJS.github.io/Sortable/Sortable.js"></script>
<script th:src="@{/public/lib/wow/wow.min.js}"></script>
<script th:src="@{/public/lib/easing/easing.min.js}"></script>
<script th:src="@{/public/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/public/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/public/lib/custom.js}"></script>
<script type="application/javascript">
    $(document).ready(function () {
        var list = document.getElementById('sortable-list');
        var sortable = Sortable.create(list, {
            onUpdate: function (evt) {
                console.log(sortable.toArray())
                $('input[name="priorities"]').val(sortable.toArray());
            },
            animation: 150,
        });
        var initialList = sortable.toArray();

        $('#resetPriorities').on('click', function (e) {
            sortable.sort(initialList);
        });

        document.getElementById('default-modal').addEventListener('shown.bs.modal', function () {
            document.getElementById('default-modal-input').focus()
        })
    });
</script>
</body>

</html>